body{
    margin: 0;
}

.header{
display: flex;
justify-content: space-around;
width: 80%;
margin: auto;
align-items: center;
}

.left{
    display: flex;
    flex:0.7;
}
.dropdowns{
    flex:0.6;
}

.dropdowns>ul{
    list-style-type: none;
    display: flex;
    flex: 0.8;
    justify-content: space-around;
    margin: 0;
}

.right{
    display: flex;
    justify-content: space-around;
    flex:0.3
}

.Welcome
{
background-color: rgb(67, 29, 67);
height:40px;
display: flex;
justify-content: center;
align-items: center;
}
p{
    color: azure;
}


